CAPACITOR_DEBUG
	$(CAPACITOR_DEBUG)
	CFBundleDevelopmentRegion
	en
	CFBundleDisplayName
	kanatake
	CFBundleExecutable
	$(EXECUTABLE_NAME)
	CFBundleIconName
	AppIcon
	CFBundleIdentifier
	$(PRODUCT_BUNDLE_IDENTIFIER)
	CFBundleInfoDictionaryVersion
	6.0
	CFBundleName
	$(PRODUCT_NAME)
	CFBundlePackageType
	APPL
	CFBundleShortVersionString
	$(MARKETING_VERSION)
	CFBundleVersion
	$(CURRENT_PROJECT_VERSION)
	ITSAppUsesNonExemptEncryption
	
	LSRequiresIPhoneOS
	
	UILaunchStoryboardName
	LaunchScreen
	UIMainStoryboardFile
	Main
	UIRequiredDeviceCapabilities
	
		armv7
	
	UISupportedInterfaceOrientations
	
		UIInterfaceOrientationPortrait
		UIInterfaceOrientationLandscapeLeft
		UIInterfaceOrientationLandscapeRight
	
	UISupportedInterfaceOrientations~ipad
	
		UIInterfaceOrientationPortrait
		UIInterfaceOrientationPortraitUpsideDown
		UIInterfaceOrientationLandscapeLeft
		UIInterfaceOrientationLandscapeRight
	
	UIViewControllerBasedStatusBarAppearance
